@model IEnumerable<SIPADE.Models.SipTblTipoActividad>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de tipo de actividades</h1>

<p>
    <a asp-action="Create">Crear Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Costo de la actividad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblActNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblActCostoact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SipTblActId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.SipTblActId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.SipTblActId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
