@model IEnumerable<SIPADE.Models.SipTblTrabajoRealizado>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de trabajo realizado</h1>

<p>
    <a asp-action="Create">Crear nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Cantidad de trabajo realizado
            </th>
            <th>
                Total de trabajo realizado
            </th>
            <th>
                ID de la actividad
            </th>
            <th>
                ID del empleado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblTreCantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblTreTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblAct.SipTblActId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEmp.SipTblEmpId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SipTblTreId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.SipTblTreId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.SipTblTreId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
