@model SIPADE.Models.SipTblEmpleado

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombres
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SipTblEmpNombres)
        </dd>
        <dt class = "col-sm-2">
            Apellidos
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SipTblEmpApellidos)
        </dd>
        <dt class = "col-sm-2">
            NIT
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SipTblEmpNit)
        </dd>
        <dt class = "col-sm-2">
            DPI
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SipTblEmpDpi)
        </dd>
        <dt class = "col-sm-2">
            Teléfono
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SipTblEmpTel)
        </dd>
        <dt class = "col-sm-2">
            Dirección
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SipTblEmpDireccion)
        </dd>
        <dt class = "col-sm-2">
            IGSS
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SipTblEmpNumigss)
        </dd>
        <dt class = "col-sm-2">
            IRTRA
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SipTblEmpNumirtra)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SipTblEmpId">Edit</a> |
    <a asp-action="Index">Regresar a la lista</a>
</div>
