@model IEnumerable<SIPADE.Models.SipTblEmpleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de empleados</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombres
            </th>
            <th>
                Apellidos
            </th>
            <th>
               NIT
            </th>
            <th>
                DPI
            </th>
            <th>
                Teléfono
            </th>
            <th>
                Dirección
            </th>
            <th>
                IGSS
            </th>
            <th>
                IRTRA
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEmpNombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEmpApellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEmpNit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEmpDpi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEmpTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEmpDireccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEmpNumigss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEmpNumirtra)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SipTblEmpId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.SipTblEmpId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.SipTblEmpId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
