@model IEnumerable<SIPADE.Models.SipTblControlAsistencia>
@{
    ViewData["Title"] = "Index";
}


<h1>Listado de Asistencias</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha y Hora Entrada
            </th>
            <th>
                Fecha y Hora Salida
            </th>
            <th>
                ID Empleado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SipTblCasFechaHoraEntrada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SipTblCasFechaHoraSalida)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SipTblEmp.SipTblEmpId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SipTblCasId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.SipTblCasId">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.SipTblCasId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
