@model IEnumerable<SIPADE.Models.SipTblDetallePlanilla>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de planilla</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Deducciones
            </th>
            <th>
                Bonificacion
            </th>
            <th>
                IGSS
            </th>
            <th>
                Irtra
            </th>
            <th>
                ISR
            </th>
            <th>
                Otros
            </th>
            <th>
                ID Empleado
            </th>
            <th>
                ID Trabajo realizado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblDedDeducciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblDplBonificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblDplIgss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblDplIrtra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblDplIsr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblDplOtros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEpl.SipTblEplId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblTre.SipTblTreId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SipTblDplId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SipTblDplId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SipTblDplId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
