@model IEnumerable<SIPADE.Models.SipTblEncabezadoPlanilla>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de encabezado de planillas</h1>

<p>
    <a asp-action="Create">Create Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha y hora
            </th>
            <th>
                Fecha de inicio
            </th>
            <th>
                Fecha de finalización
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEplFechahora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEplFechainicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SipTblEplFechafin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SipTblEplId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.SipTblEplId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.SipTblEplId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
